@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  /* background: linear-gradient(270deg, #7f3f98, #c35eeb, #3c1c48); */
  background: #7f3f98;
  /* background-size: 600% 600%; */
  /* animation: Gradient 2s linear infinite; */
}

/* @keyframes Gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c35eeb;
  border-radius: 10px; /* Add this line */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c1c48;
  border-radius: 10px; /* Add this line */
}