.add-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.add-user-container h1 {
    margin-bottom: 20px;
}

.add-user-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-container label {
    margin-bottom: 10px;
}

.add-user-container input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
}

.add-user-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.add-user-container button:hover {
    background-color: #0069d9;
}

.add-user-container select {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
    appearance: none; /* This removes the default browser dropdown arrow */
    background-color: #fff;
}

.add-user-container select:focus {
    outline: none;
    border-color: #007bff;
}