@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



.navbar {
  background-color: #ffffff !important;
  padding: 5px ;
  display: flex;
  align-items: center;
  /*max-width: 600px;*/
  margin: 0 auto;
  
}

.navbar img{
  max-width: 200px;
  max-height:fit-content;
}

.navbar h1 {
  background-color: #ffffff;
}

.sections{
  display: inline-flex; /*  displays elements in horizontal format instead of vertical*/
  margin-left: auto;
  margin-right: 50px;
  text-align: center;
}

.navbar .links {
  margin-right: auto;
}
.navbar a {
  margin: left;
  text-decoration: none;
  background-color: #ffffff;
  padding: 6px;
  text-align: right;
}
.navbar a:hover {
  background-color: #b732eb;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
}

.signin-body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.col-8{
  padding-left: 0px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(183, 50, 235);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.p-3
{
  color: rgb(183, 50, 235);
  background-color: #ffffffff;
  height: 100%;
  font-family: system-ui;
  
}

.sidenav-bg 
{
  color: rgb(183, 50, 235);
}




